*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
  background-color: #f0f0f0;
}

.container {
  /* max-width: 800px; */
  margin: 0 auto;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

.input-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.textarea-container,
.info-card,
.image-container {
  /* width: 30%; */
  flex: 0 1 30%;
}

textarea {
  width: 100%;
  height: 200px;
  /* Adjust as needed */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: vertical;
}

#exampleImage {
  width: 100%;
  height: auto;
  max-height: 220px;
  /* Adjust to match textarea height + padding */
  object-fit: contain;
  border-radius: 4px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#barcodeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px 20px;
  margin-top: 20px;
}

.barcode-item {
  flex: 0 1 30%;
  /* width: 30%; */
  /* margin-bottom: 20px; */
  text-align: center;
}

.barcode-item svg {
  max-width: 100%;
  height: auto;
}

.barcode-item p {
  margin-top: 5px;
  font-size: 12px;
  word-break: break-all;
}

.info-card {
  width: 25%;
  background-color: #f8f9fa;
  padding: 10px;
  /* height: -5px; */
  border-radius: 4px;
  border: 1px solid #dee2e6;
}

.info-card p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.8em;
  line-height: 1.2;
  color: #666;
}

/****** Responsive Styles *******/
@media (max-width: 1023px) {
  .barcode-item {
    flex: 0 1 48%;
  }
}

@media (max-width: 670px) {
  .container {
    max-width: 425px;
  }

  .input-section {
    flex-wrap: wrap-reverse;
    gap: 20px 0;
  }

  .textarea-container,
  .info-card,
  .image-container {
    flex: 0 1 100%;
  }

  .image-container {
    display: flex;
    justify-content: center;
  }

  #exampleImage {
    width: auto;
  }

  .barcode-item {
    flex: 0 1 100%;
  }
}